@model Category

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="col-12 text-center">
            <h2 class="text-black py-0">Create New Category</h2>
        </div>
    </div>
    <div class="card-body p-4">

        <form method="post" class="row">
            <div class="border p-3">
                <div asp-validation-summary="All"></div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Name" type="text" class="form-control border-0 shadow" />
                    <label asp-for="Name" class="ms-2"> Enter Category Name:</label>
                    <span asp-validation-for="Name" class="text-bg-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="DisplayOrder" type="text" class="form-control border-0 shadow" />
                    <label asp-for="DisplayOrder" class="ms-2"> Enter Display Order No:</label>
                    <span asp-validation-for="DisplayOrder" class="text-bg-danger"></span>
                </div>
                <div class="row pt-4 mt-4">
                    <div class="col-6 col-md-5">
                        <button type="submit" class="btn btn-primary form-control"> Create </button>
                    </div>
                    <div class="col-6 col-md-5">
                        <a asp-controller="Category" asp-action="Index" class="btn btn-outline-primary form-control">Back to Category</a>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>



@* Client side VALIDATION *@
@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}